
.Navbar .MobileNav{
    display: none
}

 .Navbar .NavLinks li{
    display: inline;
}

.Navbar .NavLinks nav li{
    display:inline-block;
    padding: 30px;
    background-color: antiquewhite;
}
 


/* .Navbar a:hover{
    border-bottom: purple;
} */
@media (max-width: 1000px){
    .Navbar .DesktopNav{
        display: none;
    }

    .Navbar  .MobileNav{
        display: flex;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;

    }

    .Navbar .Hamburger{
        position: absolute;
        right: 5%;
        cursor: pointer;
    }
    .Navbar .NavLinks {
        padding: 5%;
    }

    .Navbar .NavLinks nav li{
        display:flex;
        padding: 2%;
    }

    /* .Navbar nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        color: white;
        background-color: orange;
        border-top: 2px solid orange;
        

    

    }

    .Navbar nav ul li{
        padding-left: 15%;

    } */
}